.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222d32;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.btna {
    border: 1px solid black;
    border-radius: 3px;
    background: black;
    color: white;
}

.btna-del {
    border: 1px solid rgba(187, 76, 76, 0.63);
    background-color: rgba(187, 76, 76, 0.63);
}

#main {
    transition: margin-left .5s;
}

table.table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

table.table td {
    padding: 1px;
    vertical-align: middle;
    text-align: center;
}

table.table td:first-child {
    width: 200px;
}

.button-normal {
    font-size: 100%;
    font-style: inherit;
    border: 0;
    padding: 0;
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 15px;
    font-style: 'Open Sans', sans-serif;
    color: #9daab3;
    display: block;
    transition: 0.3s;
}

.sideItem {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    color: #9daab3;
}

.desca {
    margin-top: 5px;
    margin-right: 0;
}

.asce {
    margin-top: 9px;
}

.dropdown-container-mine {
    display: none;
    transition: 0.4s;
}

.dropdown-container-mine a {
    padding: 7px 4px 10px 70px;
    /* padding-top: 2px; */
    font-size: 14px;
}

.sideItems i {
    font-size: 18px;
    width: 23px;
    text-align: center;
    margin-right: 10px;
}

.sideItems {
    margin-top: 25px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar {
    z-index: 10;
}

.ham {
    font-size: 20px;
    color: white;
}